[submodule "schemes/base16-gruvbox-scheme"]
	path = schemes/base16-gruvbox-scheme
	url = https://github.com/dawikur/base16-gruvbox-scheme.git
[submodule "templates/base16-shell"]
	path = templates/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "lib/parse_yaml"]
	path = lib/parse_yaml
	url = https://gist.github.com/c7d061dfea473c33277d569157d72113.git
